
.navbar{
    background: rgba(224,224,255,0.8) ;
}
.line1{
    height: 2px !important;
}
.text-color{
    color: rgb(6, 119, 113) !important;
}
.li:hover{
   color: rgb(6, 119, 113) !important;
   border-bottom: solid 2px rgb(6, 119, 113);
   width: 60%;
   height: 37px;
   transition: 0.4s ease-in-out;
}
.butn{
    background: rgb(6, 119, 113);
}
.word{font-size: 55px;}
.words{
    height: 40vh;
    background:url(image/shop/banner.png);
}
.link{color: blue;}
.video{border-radius: 4%;}
.section7{    
    height: 20vh;
    background: url(image/b14.png);
    background-repeat: no-repeat; 
    background-position: 15% 25%;
    }
.Sign{
   height: 18vh;
   background-color: rgb(7, 7, 60);

}
.btn-color{background-color: rgb(6, 119, 113) !important;
    color: white !important;}
    @media screen and (max-width:992px) {
        .section7{display: block !important;}
        .sec{height: 15vh;}
        .Sign{height: 25vh;}
        .input-group{width: 100% !important;}
        .section2{padding: 0%;}
    }